<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <main>
            <form action="/login" method="post">
                <div class="form">
                    <h1>Login</h1>
                    <input type="text" name="username" id="username_input" placeholder="Enter Your Username">
                    <input type="password" name="password" id="username_input" placeholder="Password">
                    <button type="submit">⮕</button>
                    <p>Don't have an account? Create one <a href="/signup">here</a>.
                </div>
            </form>
        </main>
    </body>
</html>
